
.heading-page
{
    text-align: center;
    font-size: 3rem;
    color: #000fe0;
    text-decoration: underline;
}
.h3-special
{
    text-align: center;
    background-color: #35c2f3;
    height: 6rem;
    padding-top: 1.5rem;
    color: green;
}
body
{
    background-color: #1fbfe7;
}